#salaryMakerModal, #salaryMakerModal input, #salaryMakerModal select, #salaryMakerModal button, #sal-render-area {
      font-family: &quot;SolaimanLipi&quot;, sans-serif !important;
  }
  
  #salaryMakerModal input::placeholder {
      font-family: &quot;SolaimanLipi&quot;, sans-serif !important;
      opacity: 0.7;
  }

  #salaryMakerModal input, #salaryMakerModal select {
      width: 100%; padding: 10px; border: 1px solid #cbd5e1; border-radius: 8px; outline: none; box-sizing: border-box; margin-bottom: 5px;
  }
  
  .sal-p-size { width: 210mm; min-height: 100%; padding: 5mm; }
  .sal-l-size { width: 297mm; min-height: 100%; padding: 5mm; }

  #sal-render-area table { width: 100%; border-collapse: collapse; margin-top: 20px; border: 1.5px solid #000; table-layout: auto; }
  #sal-render-area th, #sal-render-area td { border: 1px solid #000; padding: 6px; font-size: 13px; text-align: center; color: #000; }
  #sal-render-area th { background: #f2f2f2; font-weight: bold; }

  #salaryMakerModal i { font-family: &quot;Font Awesome 6 Free&quot; !important; font-weight: 900 !important; }

  .sal-inputs-side::-webkit-scrollbar { width: 5px; }
  .sal-inputs-side::-webkit-scrollbar-thumb { background: #6366f1; border-radius: 10px; }

  @media (max-width: 1024px) {
      .sal-main-wrapper {
          grid-template-columns: 1fr !important;
          overflow-y: auto !important;
      }
      
      .sal-inputs-side {
          overflow-y: visible !important;
          max-height: none !important;
          padding-right: 0 !important;
      }

      .crop-modal-content {
          height: 95vh !important;
      }

      .sal-preview-area {
          padding: 10px !important;
          background: #3f3f46 !important;
          justify-content: center !important;
          overflow: hidden !important;
      }

      #sal-render-area {
          transform: scale(0.45); 
          transform-origin: top center;
          margin-bottom: -150mm;
      }
  }

  @media (max-width: 480px) {
      #sal-ui-title { font-size: 18px !important; }
      .fq-lang-box { margin-bottom: 10px !important; }
      
      #sal-render-area {
          transform: scale(0.35);
          margin-bottom: -180mm;
      }
      
      .fq-group-box { padding: 10px !important; }
  }
